<header>
  <nav>
    <ul>
      <li>Portfolio</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
  <div>
    Emily Verwee
  </div>
</header>
<div class="main">
  My name is Emily and this is a rails app.
</div>
<footer>
  <ul>
    <li>Facebook</li>
    <li>Twitter</li>
  </ul>
</footer>